<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP 5.5.8" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-5.5.8\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
